aside.sidebar#myElement
    h2.visually-hidden list of sidebar
    |
    |
    div
        |
        |
        a(href="").sidebar-logo
            svg.sidebar-logo__icon(width="37",height="37")
                use(href="./images/sprite.svg#settings")
            |
            |
            div.sidebar-logo__text 
                span Dashboard
                span.sidebar-logo__version v.01
        |
        |
        ul.sidebar-list
            li.sidebar-list__sidebar-item
                p.sidebar-text
                    svg.sidebar-icon.sidebar-text__sidebar-icon--dashboard
                        use(href="./images/sprite.svg#key-square")
                    | Dashboard
            li.sidebar-list__sidebar-item
                button.sidebar-button
                    span.sidebar-button__wrapper
                        svg.sidebar-icon
                            use(href="./images/sprite.svg#3d-square")
                        |Product
                    svg.sidebar-right
                        use(href="./images/sprite.svg#chevron-right")
            li.sidebar-list__sidebar-item
                button.sidebar-button.sidebar-button--active
                    span.sidebar-button__wrapper.sidebar-button__wrapper--active
                        svg.sidebar-icon.sidebar-icon--active
                            use(href="./images/sprite.svg#user-square")
                        | Customers
                    svg.sidebar-right.sidebar-right--active
                        use(href="./images/sprite.svg#chevron-right")
            li.sidebar-list__sidebar-item
                button.sidebar-button
                    span.sidebar-button__wrapper
                        svg.sidebar-icon.sidebar-text__sidebar-icon--dashboard
                            use(href="./images/sprite.svg#wallet-money")
                        | Income
                    svg.sidebar-right
                        use(href="./images/sprite.svg#chevron-right")
            li.sidebar-list__sidebar-item
                button.sidebar-button
                    span.sidebar-button__wrapper
                        svg.sidebar-icon
                            use(href="./images/sprite.svg#discount-shape")
                        | Promote
                    svg.sidebar-right
                        use(href="./images/sprite.svg#chevron-right")
            li.sidebar-list__sidebar-item
                button.sidebar-button
                    span.sidebar-button__wrapper
                        svg.sidebar-icon
                            use(href="./images/sprite.svg#message-question")
                        | Help
                    svg.sidebar-right
                        use(href="./images/sprite.svg#chevron-right")
    div.wrapper-image
        img(src="./images/Evano.jpg", alt="project-manager-Evano",width="42",height="42").image
        div
            p.image__name Evano
            p.image__position Project Manager