:root {
  --basic-color: #ffffff;
  --secondary-color: #000;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: calc(21 / 14);

  color: #292d32;
  background-color: #fafbff;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sidebar-icon {
  width: 24px;
  height: 24px;

  fill: #9197b3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1470px) {
  .container {
    max-width: 1440px;
  }
}

.container--flexed {
  display: flex;
  gap: 13px;
}

@media screen and (min-width: 768px) {
  .container--flexed {
    gap: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .container--flexed {
    gap: 71px;
  }
}

/* STYLES OF sidebar-product */
.sidebar-product {
  background-color: #fafbff;
}

/* STYLES OF sidebar */
@media screen and (min-width: 1440px) {
  .sidebar {
    padding-top: 36px;
    padding-right: 28px;
    padding-left: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--basic-color);

    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 400ms linear, transform 400ms linear;
  }
}

.sidebar.visible {
  opacity: 1;
  transform: translateX(0);
}

.sidebar-logo {
  margin-bottom: 20px;

  min-width: 187px;

  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .sidebar-logo {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-logo {
    margin-bottom: 64px;
  }
}

.sidebar-logo__text {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(39 / 26);
  letter-spacing: 0.26px;

  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .sidebar-logo__text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-logo__text {
    font-size: 26px;
    font-weight: 600;
  }
}

.sidebar-logo__version {
  margin-left: 4px;

  font-size: 10px;
  font-weight: 500;
  line-height: calc(15 / 10);
  letter-spacing: -0.1px;

  color: #838383;
}

@media screen and (max-width:1439px) {
  .sidebar-list{
    margin-bottom: 50px;
  }
}

.sidebar-list__sidebar-item {
  width: 150px;
  height: 46px;
}

@media screen and (min-width: 768px) {
  .sidebar-list__sidebar-item {
    width: 215px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-list__sidebar-item {
    width: 250px;
  }
}

.sidebar-list__sidebar-item:not(:last-child) {
  margin-bottom: 18px;
}

.sidebar-text {
  padding: 11px 8px 11px 11px;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 14px;

  color: #9197b3;
}

.sidebar-text__sidebar-icon--dashboard {
  stroke: #9197b3;
  fill: transparent;
}

.sidebar-button {
  padding: 11px 8px 11px 11px;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
}

.sidebar-button:hover,
.sidebar-button:focus{
  background-color: #5932ea;
}

.sidebar-button--active {
  background-color: rgb(231, 76, 76);
}

@media screen and (min-width: 768px) {
  .sidebar-button--active {
    background-color: orange;
  }
}

@media screen and (max-width:1439px) {
  .sidebar-button:hover,
.sidebar-button:focus{
  background-color: orange;
}
}

@media screen and (max-width:767px) {
  .sidebar-button:hover,
.sidebar-button:focus{
  background-color: rgb(231, 76, 76);
}
}

@media screen and (min-width: 1440px) {
  .sidebar-button--active {
    background-color: #5932ea;
  }
}

.sidebar-button__wrapper {
  display: flex;
  align-items: center;
  gap: 14px;

  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: calc(21 / 14);

  color: #9197b3;
}

.sidebar-right {
  width: 16px;
  height: 16px;

  stroke: #9197b3;
}

.sidebar-icon--active {
  stroke: #ffffff;
  fill: var(--basic-color);
}

.sidebar-right--active {
  stroke: var(--basic-color);
}

.sidebar-button:hover .sidebar-button__wrapper,
.sidebar-button:focus .sidebar-button__wrapper{
  color: var(--basic-color);
}

.sidebar-button:hover .sidebar-icon,
.sidebar-button:focus .sidebar-icon{
  fill: var(--basic-color);
}

.sidebar-button:hover .sidebar-text__sidebar-icon--dashboard,
.sidebar-button:focus .sidebar-text__sidebar-icon--dashboard{
  fill: transparent;
  stroke: var(--basic-color);
}

.sidebar-button:hover .sidebar-right,
.sidebar-button:focus .sidebar-right{
  stroke: var(--basic-color);
}

.sidebar-button__wrapper--active {
  color: var(--basic-color);
}

.wrapper-image {
  display: flex;
  gap: 12px;
}

.image__name {
  letter-spacing: 0.14px;

  color: var(--secondary-color);
}

.image__position {
  font-size: 12px;
  font-weight: 400;
  line-height: calc(18 / 12);
  letter-spacing: 0.12px;

  color: #757575;
}

/* STYLES OF product */
.product-wrapper {
  padding-top: 41px;
  padding-bottom: 258px;
}

.subtitle {
  margin-bottom: 51px;

  font-size: 24px;
  line-height: calc(36 / 24);

  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .subtitle {
    display: none;
  }
}

.search-customer {
  position: absolute;
  top: 44px;
  right: 53px;

  width: 216px;
}

@media screen and (max-width: 1439px) {
  .search-customer {
    display: none;
  }
}

.search-customer__label {
  position: relative;

  display: block;
}

.search-customer__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;

  width: 100%;

  border-radius: 10px;
  border: 1px solid #f9fbff;
}

.search-customer__input::placeholder {
  font-size: 12px;
  letter-spacing: -0.12px;

  color: #b5b7c0;
}

.search-customer__icon {
  position: absolute;
  top: 7px;
  left: 8px;

  fill: #7e7e7e;
}

.wrapper-product {
  background-color: #fafbff;
}

@media screen and (min-width: 1440px) {
  .wrapper-product {
    padding-top: 30px;
    padding-bottom: 40px;

    border-radius: 30px;
    background-color: #fff;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  }
}

.wrapper-title {
  padding-left: 38px;
  padding-right: 44px;
   }

.product__title {
  margin-bottom: 7px;

  font-size: 22px;
  font-weight: 600;
  line-height: calc(33 / 22);
  letter-spacing: -0.22px;

  color: var(--secondary-color);
}

/* STYLES OF table  */
.table {
  width: 250px;

  border-collapse: collapse;
}

@media screen and (min-width: 768px) {
  .table {
    width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .table {
    margin-bottom: 32px;

    width: 968px;
  }
}

.product__after-title {
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 20;
  text-align: left;

  color: burlywood;
}

.product__title,
.product__after-title {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 400ms linear, transform 400ms linear;
}

.animated-title {
  opacity: 1;
  transform: translateY(0);
}

.animated-after-title {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 200ms;
}

@media screen and (min-width: 768px) {
  .product__after-title {
    margin-bottom: 20px;

    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .product__after-title {
    margin-bottom: 40px;

    font-size: 14px;

    color: #16c098;
  }
}

@media screen and (max-width: 767px) {
  th:not(:first-child) {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  th:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  th:first-child {
    padding-left: 38px;
  }
}

@media screen and (min-width: 1440px) {
  th:last-child {
    padding-right: 44px;
  }
}

@media screen and (min-width: 1440px) {
  td:first-child {
    padding-left: 38px;
  }
}

@media screen and (min-width: 1440px) {
  td:last-child {
    padding-right: 44px;
  }
}

@media screen and (max-width: 1439px) {
  td:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  td:not(:first-child) {
    display: none;
  }
}

@media screen and (min-width:1440px) {
  .table__row-head{
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .table__row-head::after {
    content: " ";

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;

    border-bottom: 1px solid #eee;
  }
}

.table-row__table-heading {
  padding-bottom: 14px;

  font-weight: 500;

  color: #b5b7c0;
}

.table-row__table-heading--lefted {
  text-align: left;
}

.table-row__table-heading:last-child {
  width: 85px;
}

.table__row-body{
  position: relative;
}

@media screen and (min-width:1440px) {
  .table__row-body::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 40px;
  
    display: block;
  
    width: 888px;
    height: 1px;
  
    background-color: #eee;
  }
}

.table__table-data {
  padding-top: 20px;
  padding-bottom: 20px;

  color: #292d32;
}

@media screen and (max-width: 1439px) {
  td {
    font-size: 20px;
  }
}

.table__table-data--centered {
  text-align: center;
}

.table__table-button {
  line-height: calc(21 / 14);

  border-radius: 4px;
}

.table__table-button--design-green {
  padding: 3px 18px;

  border: 1px solid #00b087;

  color: #008767;

  background-color: rgba(22, 192, 152, 0.38);
}

.table__table-button--design-red {
  padding: 3px 12px;

  border: 1px solid #df0404;

  color: #df0404;

  background-color: #ffc5c5;
}

.wrapper-pages {
  padding-left: 38px;
  padding-right: 44px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.after-table {
  color: #b5b7c0;
}

@media screen and (max-width: 1439px) {
  .after-table {
    display: none;
  }
}

/* STYLES OF list-pages  */
.list-pages {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1439px) {
  .list-pages {
    display: none;
  }
}

.list-pages__list-item {
  width: 26px;
  height: 24px;
}

.link-pages {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 12px;
  line-height: calc(12 / 12);
  letter-spacing: -0.12px;

  color: #404b52;

  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
}

.link-pages:hover,
.link-pages:focus{
  color: var(--basic-color);

  border: 1px solid #5932ea;
  background-color: #5932ea;
}

.link-pages .icon-pages {
  fill: #404b52;
}

.link-pages:hover .icon-pages,
.link-pages:focus .icon-pages{
  fill: var(--basic-color);
}

.link-pages--current {
  color: var(--basic-color);

  border: 1px solid #5932ea;
  background-color: #5932ea;
}

.link-pages--dots {
  border: transparent;
  background-color: transparent;
}
